* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input-container {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-container input {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
}

.input-container button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px;
}

.info-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.lupa-button i, .microfone-button i {
    font-size: 24px;
    color: #333;
    border-radius: 50%;
    background-color: #fff;
    padding: 7px;
}